/* Base html */

html {
    height: 100%;
}

body {
    width: 850px;
    margin: 0 auto;
    margin-top: -2px;
    height: 100%;
}

#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

footer, .push {
    height: 1em;
}

header {
    background-color: #142933;
    position: relative;
}

header #headerText a {
    text-decoration: none;
    color: #FFFAE0;
    font-family: sans-serif;
}

header #headerText a:hover {
    text-decoration: underline;
}

header #headerText {
    color: #FFFAE0;
    padding: 10px 0px 10px 30px;
}

header h2 {
    margin-top: -20px;
    padding-left: 65px;
    font-size: 11px;
    font-family: sans-serif;
}

#container {
    padding-top: 20px;
}


nav  {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 5px;
    width: 60px;
    color: #FFFAE0;
    background-color: #0B161C;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

nav li + li {
    border-left: 1px solid #142933;
}

nav a:hover {
    background-color: #050A0D;
}

footer {
    padding-top: 50px;
    padding-bottom: 5px;
    bottom: 0px;
    font-size: 10px;
    width: 800px;
}

footer #quote {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #125475;
}




/* main page */

#main_page {
    padding-left: 6%;
    font-family: arial, helvetica, sans-serif;

}

#main_page #left_col {
    float: left;
    width: 55%;
    padding-right: 10%;
}

#main_page #left_col h2 {
    color: #142933;
    font-size: 25px;
    font-weight: normal;
}

#main_page #left_col p {
    font-size: 15px;
}

#main_page #left_col h3 {
    font-size: 17px;
    margin-bottom: -7px;
}


#main_page #right_col {
    padding-top: 5%;
    float: left;
    width: 35%;
}

#main_page p a {
    text-decoration: none;
    color: #125475;
}


#main_page p a:hover {
    text-decoration: underline;
}

#main_page #login_container {
    padding-left: 25px;
}

#main_page #login_container label {
    font-weight: bold;
    font-size: 13px;
    padding-left: 0px;
}


/* Forms with boxed in content (register, login forms) */

.fancy_header h2, .fancy_header h3 {
    padding: 10px 0px 10px 10px;
    background-color: #33664D;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFAE0;
}

.boxed_container {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 15px 0px 10px 20px;
    margin-top: -15px;
}

.field_container label {
    font-size: 14px;
    width: 120px;
    padding: 3px 0px 3px 5px;
    float: left;
}

.field_container + .field_container {
    padding-top: 5px;
}

#yes_radio, #no_radio {
    font-family: sans-serif;
    font-size: 13px;
}




/* Register page */

#register_container input[type=submit] {
    margin-top: 10px;
}




/* front page */

#front_container {
    padding-left: 6%;
    font-family: Arial, Helvetica, sans-serif;
}

#front_container #left_col {
    width: 75%;
}

#front_container header {
    position: relative;
    background-color: #33664D;
    width: 100%;
}

#front_container #post + #post {
    padding-top: 15px;
}

#post p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#front_container h2 {
    color: #142933;
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 15px;
}

/*#front_container h3 {
    padding: 10px 5px 10px 10px;
    font-size: 17px;
    color: #FFF9EE;
}*/

#front_container h4 {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #FFF9EE;
    font-size: 13px;
    font-weight: none;
    padding-right: 5px;
}

#front_container pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 5px;
}

#private_container #newPostButton {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6%;
}

#private_container #newPostButton a {
    height: 35px;
    background-color: #70995C;
    color: white;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
}

#private_container #newPostButton a:hover {
    background-color: #658A53;
}



/* Create post form */
#new_post_container {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 15px 0px 10px 20px;
    margin-top: -15px;
    font-family: sans-serif;
}

#new_post_content h2 {
    padding: 10px 5px 10px 10px;
    background-color: #33664D;
    font-size: 17px;
    color: #FFF9EE;
}

#new_post_container textarea {
    width: 500px;
    height: 200px;
}

#new_post_container #title {
    padding-bottom: 30px;
}

#new_post_container input[type=text] {
    width: 500px;
}



/* Settings page */

#settings_container input[type=submit] {
    margin-top: 10px;
}



/* Public users page */

#public_container h2 {
    color: #24221F;
}

#public_container .fancy_header h2, #public_container .fancy_header h3 {
    background-color: #4F6659;
}



/* Misc */

#login_container .error {
    color: #8C1D04;
    font-size: 14px;
    padding-left: 205px;
}

#register_container .error {
    padding-left: 20px;
    color: #8C1D04;
    font-size: 14px;
}

#create_post_error {
    color: #8C1D04;
    font-size: 14px;
}

