<!DOCTYPE html>

<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="static/main.css">
</head>

<body>
    <header>
        <div id="headerText">
            <a href="/"><h1>Tiny Blogs</h1><h2>Just fucking use it.</h2></a>
        </div>

        <nav>
            <ul>
                <li><a href="{{ log_link }}">{{ log_text }}</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div id="quote">
            Tiny Blogs is a product of Tony Majestro. Copyright 2013 | All rights reserved
        </div>
    </footer>
</body>
</html>

