{% extends "base.html" %}

{% block content %}
<div id="main_page">
    <div id="left_col">
        <h2>Welcome!</h2>
        <h3>Blog anywhere, anytime</h3>
        <p>Tiny Blogs is a minimal, easy to use publishing site.  Just had an interesting idea? Want to record your thoughts
        for the day?  Adding, editing, and removing entries only takes a few simple clicks. </p>

        <h3>Get started now</h3>
        <p>Registering is simpler than ever.  Head over to the <a href="/register">register</a> page now to start blogging
           in minutes.  All you need is an email address.</p>

        <h3>Public or private</h3>
        <p>Want to share your thoughts with your friends?  Make your blog open to the public and let everyone see your
           ideas.  Do you have ideas that you don't want to share?  You can also set your blog to private so no one but
           you can view it.  Can't make up your mind?  Change the settings whenever you wish. </p>

        <h3>Developer Blog</h3>
        <p>Want to know more about recent or upcoming features?  Check out our <a href="/users/developerblog">developer blog</a>
           for updates.</p>
    </div>

    <div id="right_col">
        {{ login_form | safe}}
    </div>
</div>
{% endblock %}

