{% extends "base.html" %}

{% block content %}
<div id="settings_container">
    <div class="fancy_header">
        <h2>settings</h2>
    </div>

    <div class="boxed_container">
        <form method="post">
            <label>
                Public (others can view your blog)
                <input type="checkbox" name="public" value="true" {{ public_checked }}>
            </label>

            <div id="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
