{% extends "base.html" %}

{% block content %}
<div id="settings_container">
    <div class="fancy_header">
        <h2>settings</h2>
    </div>

    <div class="boxed_container">
        <form method="post">
            <div class="field_container">
                <label>Public</label>
                <div id="yes_radio">
                    <input type="radio" name="public" value="yes" {{ yes_checked }}>
                    Yes (anyone can view your blog)
                </div>
                <div id="no_radio">
                    <input type="radio" name="public" value="no" {{ no_checked }}>
                    No (only you can see your blog)
                </div>
            </div>

            <div id="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
